@media (max-width: 991px) {
    .responsive-mt {
        margin-top: 0.9rem;
    }

    .responsive-nav-flex {
        flex-direction: column;
    }
}

.popup-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0000008d;
    top: 0;
    left: 0;
    z-index: 999;
}


.footer {
    position: fixed;
    width: 100vw;
    height: 5vh;
    bottom: 0;
}

nav {
    z-index: 999;
}

#pick-home-page h2,h3,h5 {
    text-align: right;
    line-height: 1.5;
}
#pick-cart-page{
    text-align: right;
    
}

#pick-about-page  {
    text-align: right;
    line-height: 1.5;
}

#pick-link-to-register-page,
#pick-link-to-login-page {
    cursor: pointer;
}

#pick-home-display-options button {
    margin: 3px;
}

#pick-home-actual-popup {
    height: 90vh;
    width: 50vw;
    overflow-y: scroll;
}

img[for*="carousel"] {
    width: 100%;
}

.piclistGalleryCarousel {
    border: 3px solid #000;
}

.piclistGalleryCarousel:hover {
    cursor: pointer;
}